<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="/public/stylesheets/style.css">
	<script src="/public/javascripts/qrcode/jquery.min.js"></script>
	<script type="text/javascript" src="/public/javascripts/qrcode/jquery.qrcode.js"></script>
	<script type="text/javascript" src="/public/javascripts/qrcode/qrcode.js"></script>
	<title>xk ota server</title>
</head>
<body>
<h3>【微信扫描此页面不能显示】，请点击右上角“在Safari中打开”</h3>
<div id="qrcodeTable"></div>
<h3>
	<a id='cer' href="/CA.cer">如果出现【无法验证服务器身份】或【无法连接到】，请点击此链接安装证书</a>
</h3>


<ul th:each="linkNode:${pakcagelist}">

	<li >

		<img th:src="${linkNode.getPackageIcon()}" class="icon" />

		<div class="info">
			<th:span class="name" th:text="${linkNode.getDisplayName()}"></th:span>
		</div>
		<a th:href="${linkNode.getLinkPath()}"  class="link"> 打开 </a>
	</li>
	<hr/>
</ul>

<script>
	var url = location.href;
	$('#qrcodeTable').qrcode({
		render	: "table",
		text	: url
	});
	$('.link').click(function(){
		// if(confirm("点击安装后会自动下载app, 请返回桌面查看")){
		//     window.location.href = $(this).attr('downloadUrl');
		// }
		window.location.href = $(this).attr('downloadUrl');
	});
</script>
</body>
</html>
